.featured-card {
  color: #fff;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  justify-content: space-between;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 14px;
  background: transparent;
  transition:
    background 0.2s,
    transform 0.21s cubic-bezier(0.4, 2, 0.6, 1),
    box-shadow 0.21s cubic-bezier(0.4, 2, 0.6, 1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
  cursor: default;
  text-decoration: none;
  align-items: stretch;
}
.featured-card:hover {
  background-color: #1c1c1c;
  transform: scale(1.04) translateY(-4px);
  box-shadow:
    0 10px 32px rgba(0, 0, 0, 0.22),
    0 2px 8px rgba(0, 0, 0, 0.09);
  z-index: 2;
}
.event-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.event-date,
.event-desc {
  color: #aaa;
  font-size: 12px;
}
.event-date,
.event-name,
.event-desc {
  padding-bottom: 8px;
}
.event-stack-row {
  width: fit-content;
  align-self: flex-start;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 2px;
  margin-bottom: 2px;
}
.event-stack {
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 5px;
  display: inline-flex;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  white-space: nowrap;
  align-items: center;
  letter-spacing: 0.03em;
  color: #000;
}
.event-desc {
  color: #aaa;
  line-height: 1.6;
  margin-top: 4px;
  margin-bottom: 0;
}
.event-buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: 12px;
}
.event-btn {
  background: #000;
  color: #fff;
  border-radius: 20px;
  padding: 6px 12px;
  line-height: 1;
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid white;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
}
.event-btn:hover,
.event-btn:focus {
  background: #fff;
  color: #000;
}
.event-pic {
  width: 350px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 8px;
}
.event-pic img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.21s cubic-bezier(0.4, 2, 0.6, 1);
}
.featured-card:hover .event-pic img {
  transform: scale(1.03);
}

@media (max-width: 1500px) {
  .featured-card {
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    flex-direction: column-reverse;
  }
  .event-pic {
    width: 100%;
    min-width: unset;
    margin-top: 12px;
  }
  .event-pic img {
    width: 100%;
    min-width: unset;
    min-height: 180px;
    max-height: 220px;
    object-fit: cover;
  }
  .event-buttons {
    align-items: center;
    justify-content: center;
  }
  .event-desc {
    font-size: 0.9rem;
  }
}