.stack-icons {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

/* .stack-icons > * {
    border: 0.5px solid #fff;
    border-radius: 8px;
    padding: 5px;
    transition: box-shadow 0.2s;
} */
