footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 0.875rem;
  color: #aaa;
}

@media (max-width: 768px) {
  footer p {
    font-size: 0.75rem;
  }
}