.experience-entry {
  display: block;
  margin-bottom: 1.5rem;
}

.entry-date,
.entry-event,
.description {
  line-height: 1.5;
  font-size: 1rem;
  padding-left: 24px;
}

.entry-date {
  color: #aaa;
  margin-bottom: 0.2rem;
}

.entry-event {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.description {
  color: #aaa;
}
